.color-deseado {
	background-color: rgb(62, 140, 143);
	min-width: 650px;
	min-height: 400px;
}

.bloqueTempHum {
	/* background-color: rgba(204, 209, 223, .70); */
	margin-top: 5%;
	width: 90%;
	height: 40%;
}

.DiaNoche {
	/* background-color: rgba(0, 61, 230, 0.7); */
	width: 90%;
	height: 40%;
	align-content: center;
	margin-top: 2%;
}

.bot-rellenar-bebedero {
	margin-top: 1.5%;
	margin-left: 11%;
	max-width: 60%;
}

.bot-humedecer-terrario {
	margin-top: 2.5%;
	margin-left: 11%;
	max-width: 60%;
}

.botonesManual {
	/* background-color: red; */
	padding: 0;
	margin: 0;
	vertical-align: middle;
	float: center;
}

.botonFocos {
	background-color: transparent;
	border-radius: 5px;
	border-color: transparent;
}

.botonFocos.on {
	background: rgb(255, 243, 178);
	border-radius: 5px;
	border-color: transparent;
}

.Temp {
	/* background-color: black; */
	float: left;
	width: 56%;
}

.Hum {
	/* background-color: black; */
	float: right;
	width: 30%;
}

.personalTitulos {
	text-align: center;
	color: rgb(0, 30, 61);
}

.dere {
	float: right;
}

.izq {
	float: left;
}

.temporal {
	margin: 0;
	padding: 0;
}

.container-fluid.h-100 {
	position: fixed;
	top: 0px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0px;
	width: 100%;
}

.rights {
	font-size: small;
	font-family: "Times New Roman", Times, serif;
}

.boton_inicio {
	text-align: center;
	background: #fff;
	color: #7386d5;
	border-radius: 10px;
}

.stack-top {
	z-index: 99;
	position: relative;
}

::-webkit-scrollbar {
	display: none;
}

body {
	width: 100%;
	height: 100%;
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	display: flex;
	align-items: stretch;
	perspective: 1500px;
	width: 100%;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #7386d5;
	color: #fff;
	transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
	transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
	position: absolute;
	z-index: 100;
	top: 0;
	bottom: 0;
	overflow: scroll;
	margin-left: -250px;
	transform: rotateY(100deg);
}

#sidebar.active {
	margin-left: 0;
	transform: none;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #6d7fcc;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 0px;
}

.form-switch.form-switch-md {
	margin-top: 10px;
	margin-bottom: 1rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-md .form-check-input {
	height: 1.5rem;
	width: calc(2rem + 0.75rem);
	border-radius: 3rem;
}

#sidebar label {
	font-size: medium;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #7386d5;
	background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}

a[data-bs-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.close-btn {
	background: #fff;
	color: #7386d5;
}

#dismiss {
	width: 35px;
	height: 35px;
	position: absolute;
	/* top right corner of the sidebar */
	top: 10px;
	right: 10px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

/* ---------------------------------------------------
    LOADER STYLE
----------------------------------------------------- */

#loader {
	position: fixed;
	width: 100%;
	height: 5%;
	bottom: 0%;
	z-index: 1;
	overflow: visible;
	background: url("../Uploads/loader.gif") no-repeat center center;
}

/* ---------------------------------------------------
    ON OFF BUTTON STYLE
----------------------------------------------------- */

.toggleLightbulb {
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #fe4551;
}

.toggleLightbulb:active {
	width: 140px;
	height: 140px;
}

.toggleLightbulb:active .OnOfftoggle {
	height: 40px;
	width: 40px;
}

.toggleLightbulb .OnOfftoggle {
	transition: all 0.2s ease-in-out;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border: 10px solid #fff;
	border-radius: 40%;
	cursor: pointer;
	animation: red 1s linear forwards;
}

.lightbulbButton:checked + .toggleLightbulb {
	background-color: #48e98a;
}

.lightbulbButton:checked + .toggleLightbulb .OnOfftoggle {
	width: 0;
	background-color: #fff;
	border-color: transparent;
	border-radius: 40px;
	animation: green 1s linear forwards !important;
}

@keyframes red {
	0% {
		height: 30px;
		width: 0;
		border-width: 5px;
	}
	55% {
		height: 13px;
		width: 27px;
		border-width: 10px;
	}
	70% {
		height: 20px;
		width: 20px;
		border-width: 10px;
	}
	85% {
		height: 15px;
		width: 25px;
		border-width: 10px;
	}
	100% {
		height: 20px;
		width: 20px;
		border-width: 10px;
	}
}

@keyframes green {
	0% {
		height: 20px;
		width: 20px;
		border-width: 10px;
	}
	25%,
	55%,
	85% {
		height: 30px;
		width: 5px;
		border-width: 5px;
	}
	40%,
	70%,
	100% {
		height: 30px;
		width: 0;
		border-width: 5px;
	}
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1000px) {
	#sidebar {
		margin-left: -250px;
		transform: rotateY(100deg);
	}
	#sidebar.active {
		margin-left: 0;
		transform: none;
	}
}

@media (max-height: 525px) {
	.footer {
		position: relative;
		text-align: center;
		bottom: 0px;
		width: 100%;
	}
}
