<form action="" method="POST">
  <div class="bloqueTempHum">
    <div class="row">
      <div class="col">
        <label for="exampleFormControlInput1" class="form-label">Rango temperatura reserva de agua</label>
        <input id="TempAguaReserva" step="any" type="text" class="jQKeyboard form-control" placeholder="{{ rango1 }}"
          aria-label="{{ rango1 }}" name="TempAguaReserva"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          maxlength="5" min="15.55" max="35" />
      </div>
  
      <div class="col">
        <label for="exampleFormControlInput1" class="form-label">Rango temperatura terrario</label>
        <input id="TempTerrario" step="any" type="text" class="jQKeyboard form-control" placeholder="{{ rango2 }}"
          aria-label="{{ rango2 }}" name="TempTerrario"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          maxlength="5" min="15.55" max="35" />
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <label for="exampleFormControlInput1" class="form-label">Rango humedad terrario</label>
        <input id="Humedad" step="any" type="text" class="jQKeyboard form-control" placeholder="{{ rango3 }}"
          aria-label="{{ rango3 }}" name="Humedad"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          maxlength="5" min="15.55" max="35" />
      </div>
  
      <div class="col">
        <div class="row">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Inicio del día</label><br>
            <input type="time" id="timeDia" name="timeDia" min="00:00" max="24:00" value="{{ rango4 }}">
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Inicio del la noche</label><br>
            <input type="time" id="timeNoche" name="timeNoche" min="00:00" max="24:00" value="{{ rango5 }}">
          </div>
        </div>
        <!-- <input type="text" class="form-control" placeholder="Vacio" aria-label="Vacio" style="visibility: hidden;"
          name="Vacio"> -->
      </div>
    </div>
    <br>
    <button id="Enviar" type="submit" value="Enviar" title="Enviar" class="btn btn-primary">Enviar</button>
  </div>
</form>

{% if bandeSuccess %}
  <script>
    $(function () {
      Swal.fire({
        title: "Datos aplicados con éxito",
        text: "Los cambios se veran reflejados en el modo automático de la aplicación",
        icon: "success",
        showCancelButton: false,
        showConfirmButton: true,
      });
    });
  </script>
{% endif %}