<div class="Temp">
	<h3 class="personalTitulos">Temperaturas</h3>
	<br />
	<div class="izq">
		<h4 class="personalTitulos">Agua reserva</h4>
		<h4 class="personalTitulos streamData" id="t_1"></h4>
	</div>
	<div class="dere">
		<h4 class="personalTitulos">Terrario</h4>
		<h4 class="personalTitulos streamData" id="t_2"></h4>
	</div>
</div>

<div class="Hum">
	<h3 class="personalTitulos">Humedad</h3>
	<h3 class="personalTitulos streamData" id="h_1"></h3>
</div>

<script>
	var eventSource = new EventSource("/listen");

	eventSource.addEventListener(
		"message",
		function (e) {
			console.log(e.data);
		},
		false
	);

	eventSource.addEventListener(
		"online",
		function (e) {
			data = e.data.csvToArray();
			$("#t_1").animate({
				'opacity': 0
			}, 500, function () {
				$(this).html(data[0][0] + "°C").animate({ 'opacity': 1 }, 500);
			});
			$("#t_2").animate({
				'opacity': 0
			}, 500, function () {
				$(this).html(data[0][1] + "°C").animate({ 'opacity': 1 }, 500);
			});
			$("#h_1").animate({
				'opacity': 0
			}, 500, function () {
				$(this).html(data[0][2] + " %").animate({ 'opacity': 1 }, 500);
			});
		});
</script>