# My stuffs to ignore
Diagrama de conexión.fzz
Terrario.pdf
temp.py
node_modules
*.scss
*.zip
.vscode
Server.exe
Server.spec
TerrariumApp
libraries
package.json
package-lock.json

# Flask stuff:
instance/
.webassets-cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class