/* Define the main wrapper style */
.LoaderWrapper {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 20px;

    width: 100%;
    height: 100%;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

    box-sizing: border-box;
    background-image: url("../Uploads/blackscales.png");
    background-repeat: repeat;
    opacity: 0.8;
    filter: saturate(0.9);
}

.LoaderContent {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: visible;
    background: url("../Uploads/snake-loader.gif") no-repeat center center;
    background-size: contain;
}

.LoaderText {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: visible;
    color: white;
    font-family: cursive;
    font-size: xx-large;
    text-align: center;
    align-items: flex-end;
}

.card-overlay {
    background: rgba(104, 167, 96, 0.644);
}