{% extends 'layout.html' %}

{% block title %}
    Listado de coches
{% endblock %}

{% block content %}
    <h1>Lista de coches</h1>

    {% with messages= get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <ul>
        {% for auto in cocheshtml %}
            <li><a href="{{url_for('coche', coche_id= auto.0)}}">{{auto.1}}</a></li>
            <li>{{auto.2}}</li>
            <li>{{auto.3}}</li>

            <a href="{{url_for('editar_coche', coche_id= auto.0)}}">Editar</a>
            <a href="{{url_for('borrar_coche', coche_id= auto.0)}}">Eliminar</a>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}