<script>
  function validarFormulario() {
    let rangoTempResAgua= document.getElementById("TempAguaReserva").value;
    let rangoTempTerrario= document.getElementById("TempTerrario").value;
    let rangoHumedad= document.getElementById("Humedad").value;

    if (rangoTempResAgua== "") {
      return false;
    }
}
</script>

<div class="bloqueTempHum">
  <form action="" method="post" onsubmit="return validarFormulario()">
    <div class="row">
      <div class="col">
        <input id="TempAguaReserva" type="text" class="form-control" placeholder="Rango temperatura reserva de agua" aria-label="Rango temperatura reserva ded agua" name="TempAguaReserva">
      </div>
  
      <div class="col">
        <input id="TempTerrario" type="text" class="form-control" placeholder="Rango temperatura terrario" aria-label="Rango temperatura terrario" name="TempTerrario">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <input id="Humedad" type="text" class="form-control" placeholder="Rango humedad terrario" aria-label="Rango humedad terrario" name="Humedad">
      </div>
  
      <div class="col">
        <input type="text" class="form-control" placeholder="Vacio" aria-label="Vacio" style="visibility: hidden;" name="Vacio">
      </div>
    </div>
    <br>
    <button id="Enviar" type="submit" value="Enviar" title="Enviar" class="btn btn-primary">Enviar</button>
  </form>
</div>