<div class="bloqueTempHum">
    <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Rango temperatura agua de reserva" aria-label="Rango temperatura agua de reserva">
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="Rango temperatura terrario" aria-label="Rango temperatura terrario">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Rango humedad terrario" aria-label="Rango humedad terrario">
        </div>
      </div>
</div>