<div class="bloqueTempHum">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Rango temperatura agua de reserva" aria-label="Rango temperatura agua de reserva" name="TempAguaReserva">
    </div>

    <div class="col">
      <input type="text" class="form-control" placeholder="Rango temperatura terrario" aria-label="Rango temperatura terrario" name="TempTerrario">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Rango humedad terrario" aria-label="Rango humedad terrario" name="Humedad">
    </div>

    <div class="col">
      <input type="text" class="form-control" placeholder="Vacio" aria-label="Vacio" style="visibility: hidden;" name="Vacio">
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-info">Enviar</button>
</div>