<div class = "col-2 justify-content-center">
	<input class="day-night-switch" type="checkbox" id="day-night"/>
	<label class="day-night-switch" for="day-night">
		<div class="celestial sun"></div>
		<div class="celestial moon">
			<div class="craters">
			<div class="crater"></div>
			<div class="crater"></div>
			<div class="crater"></div>
			<div class="crater"></div>
			<div class="crater"></div>
			</div>
		</div>
		<div class="decorations">
			<div class="decoration"></div>
			<div class="decoration"></div>
			<div class="decoration"></div>
			<div class="decoration"></div>
		</div>
		<div class="mountains">
			<div></div>
			<div></div>
		</div>
	</label>
</div>

<div class = "col justify-content-center">
	<input type="checkbox" id="botonFocos" class="lightbulbButton" hidden></input>
	<label for="botonFocos" class="toggleLightbulb">
		<div class="OnOfftoggle"></div>
	</label>
</div>

<script>
	const checkbox = document.querySelector("#day-night");
	const body = document.querySelector("body");
	const dayClass = "day";

	checkbox.addEventListener("change", (e) => {
		const { checked } = e.target;
		if (checked) {
			body.classList.add(dayClass);
		} else {
			body.classList.remove(dayClass);
		}
	});
</script>