<div class = "col-2 justify-content-center">
	<input type="checkbox" checked class = "day-night-switch" id = "day-night"></input>
	<label for="day-night" class = "day-night-switch">
		<div class = "celestial sun"></div>
		<div class ="celestial moon">
			<div class = "craters">
				<div class = "crater"></div>
				<div class = "crater"></div>
				<div class = "crater"></div>
				<div class = "crater"></div>
				<div class = "crater"></div>
			</div>
			<div class = "decorations">
				<div class = "decoration"></div>
				<div class = "decoration"></div>
				<div class = "decoration"></div>
				<div class = "decoration"></div>
			</div>
		</div>
		<div class = "mountains">
			<div></div>
			<div></div>
		</div>
	</label>
</div>

<div class = "col justify-content-center">
	<input type="checkbox" id="botonFocos" class="lightbulbButton" hidden checked></input>
	<label for="botonFocos" class="toggleLightbulb">
		<div class="OnOfftoggle"></div>
	</label>
</div>

<script>
	const checkbox = document.querySelector("#day-night");
	const body = document.querySelector("body");
	const dayClass = "day";

	checkbox.addEventListener("change", (e) => {
		const { checked } = e.target;
		if (checked) {
			body.classList.add(dayClass);
		} else {
			body.classList.remove(dayClass);
		}
	});
</script>