<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Mi terrario</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Menú</p>
    <li>
      <a href="/">Inicio</a>
    </li>
    <li>
      <a href="{{url_for('configuracion')}}">Configuración</a>
    </li>
    <li>
      <a href="{{url_for('raspberry')}}">Serial Test</a>
    </li>
    <li>
      <a
        href="#pageSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle">
        Modo de operación</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="{{url_for('automatico')}}">Automático</a>
        </li>
        <li>
          <a href="{{url_for('manual')}}">Manual</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="{{url_for('contacto')}}">Contacto</a>
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <a href="#" class="download">Reiniciar</a>
    </li>
  </ul>
  <p>{% include 'includes/footer-scripts.html' %}</p>
</nav>
