<nav id="sidebar">
  <a href="#" id="dismiss">
    <i class="fas fa-angle-double-left"></i>
  </a>
  <div class="sidebar-header">
    <h3>Mi terrario</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Menú</p>
    <li>
      <li><a href="/">Inicio</a></li>
    </li>
    <li>
      <a href="{{url_for('configuracion')}}">Configuración</a>
    </li>
    <li>
      <a href="{{url_for('raspberry')}}">Serial Test</a>
    </li>
    <li>
      <a
        href="#homeSubmenu"
        data-bs-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Modo de operación</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="{{url_for('automatico')}}">Automático</a>
        </li>
        <li>
          <a href="{{url_for('manual')}}">Manual</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="{{url_for('contacto')}}">Contacto</a>
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <a href="#" class="close-btn" id="close-btn">
          <i class="fas fa-power-off"></i>
      </a>
    </li>
  </ul>
  <p>{% include 'includes/footer-scripts.html' %}</p>
</nav>
