<script>
  if (typeof module === "object") {
    window.module = module;
    module = undefined;
  }
</script>

<script src="{{url_for('static', filename= 'jquery/jquery-3.6.0.min.js')}}"></script>
<script src="{{url_for('static', filename= 'popper/popper.min.js')}}"></script>
<script src="{{url_for('static', filename= 'bootstrap/js/bootstrap.js')}}"></script>

<script type="text/javascript">
//boton para ocultar la sidebar
  $(document).ready(function () {
    $('#dismiss').on('click', function () {
      $('#sidebar').removeClass('active');
    });
    //boton para abrir la sidebar
    $("#sidebarCollapse").on("click", function () {
      $("#sidebar").toggleClass("active");
      $(this).toggleClass("active");
    });

    $("#boton_inicio").on("click", function () {
      window.location.reload();
    });
    
    //almacena el modo de operacion
    $(function(){
      var test = localStorage.input === 'true'? true: false;
      $('#modoOperacion').prop('checked', test || false);
    });
    $('#modoOperacion').on("change", function(e){
      localStorage.input = $(this).is(':checked');
      var modoSwitch = false;
      if ($('#modoOperacion').is(":checked")){
        modoSwitch = true;
      }
      e.preventDefault();
      //envia el estado de la checkbox de modo al backend
      $.ajax({
        type:'POST',
        url:'/',
        data:{ modoOperacion:modoSwitch }
      })
      window.location.reload();
    })
  });
</script>

<script type="text/javascript">
  //enviar estado de checkbox al cargar la pagina
  $(document).ready(function () {
    var initialMode = '{{ pushed }}'

    if (initialMode === "0"){
      localStorage.input = false
    }
    if (initialMode === "1"){
      localStorage.input = true
    }
    var test = localStorage.input === 'true'? true: false;
    
    $('#modoOperacion').prop('checked', test || false);
    localStorage.input = $('#modoOperacion').is(':checked');
    var modoSwitch = false;
    if ($('#modoOperacion').is(":checked")){
      modoSwitch = true;
    }
    //envia el estado de la checkbox de modo al backend
    $.ajax({
      type:'POST',
      url:'/',
      data:{ modoOperacion:modoSwitch }
    })
  });
</script>

<script>
  if (window.module) module = window.module;
</script>
