<script>
  if (typeof module === "object") {
    window.module = module;
    module = undefined;
  }
</script>

<script src="{{url_for('static', filename= 'jquery/jquery-3.6.0.min.js')}}"></script>
<script src="{{url_for('static', filename= 'popper/popper.min.js')}}"></script>
<script src="{{url_for('static', filename= 'bootstrap/js/bootstrap.js')}}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('#dismiss').on('click', function () {
        $('#sidebar').removeClass('active');
    });

    $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $(this).toggleClass("active");
    });
  });
</script>

<script>
  if (window.module) module = window.module;
</script>
