<script>
	if (typeof module === "object") {
		window.module = module;
		module = undefined;
	}
</script>

<script src="{{url_for('static', filename= 'libraries/jquery/jquery-3.6.0.min.js')}}"></script>
<script src="{{url_for('static', filename= 'libraries/popper/popper.min.js')}}"></script>
<script src="{{url_for('static', filename= 'libraries/bootstrap/js/bootstrap.js')}}"></script>

{# Scripts for check box and initial mod of operation #}
<script src="{{url_for('static', filename= 'js/scripts.js')}}"></script>
<script src="{{url_for('static', filename= 'js/switchButtons.js')}}"></script>
<script src="{{url_for('static', filename= 'js/sidebar.js')}}"></script>
<script src="{{url_for('static', filename= 'js/indexManual.js')}}"></script>

<script type="text/javascript">
	var initialMode = "{{ pushed }}";
	var lightMode = "{{ lightmode }}";
	var offButton = "{{ offButton }}";
</script>

<script>
	if (window.module) module = window.module;
</script>