<div id="virtual-keyboard">
    <div class="keyboard-row">
        <button class="number" data="1">1</button>
        <button class="number" data="2">2</button>
        <button class="number" data="3">3</button>
        <button class="number" data="4">4</button>
        <button class="number" data="5">5</button>
        <button class="number" data="6">6</button>
        <button class="number" data="7">7</button>
        <button class="number" data="8">8</button>
        <button class="number" data="9">9</button>
        <button class="number" data="0">0</button>
    </div>
    <div class="keyboard-row">
        <button data="Q">Q</button>
        <button data="W">W</button>
        <button data="E">E</button>
        <button data="R">R</button>
        <button data="T">T</button>
        <button data="Y">Y</button>
        <button data="U">U</button>
        <button data="I">I</button>
        <button data="O">O</button>
        <button data="P">P</button>
    </div>
    <div class="keyboard-row">
        <button data="A">A</button>
        <button data="S">S</button>
        <button data="D">D</button>
        <button data="F">F</button>
        <button data="G">G</button>
        <button data="H">H</button>
        <button data="J">J</button>
        <button data="K">K</button>
        <button data="L">L</button>
        <button data="Ñ">Ñ</button>
    </div>
    <div class="keyboard-row">
        <button data="Z">Z</button>
        <button data="X">X</button>
        <button data="C">C</button>
        <button data="V">V</button>
        <button data="B">B</button>
        <button data="N">N</button>
        <button data="M">M</button>
    </div>
    <div class="keyboard-row">
        <button data=" ">ESPACIO</button>
        <button data="DEL">ELIMINAR</button>
    </div>
</div>