<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLOATING LOADING SCREEN</title>

    <link rel="stylesheet" href="../static/css/loadingStyles.css" type="text/css">
</head>

<body>
    <div class="card-overlay">
        <div class="LoaderWrapper">
            <div class="LoaderContent"></div>
            <div class="LoaderText">CARGANDO</div>
        </div>
    </div>
</body>
</html>