{% extends 'layout.html' %}

{% block title %}
    Manual de usuario
{% endblock %}

{% block content %}
    <h1>Manual de usuario</h1>

    <div class="paragraphQR">
        <span>
            <img width="280" src="{{ url_for('static', filename= 'Uploads/manualEs.png') }}" alt="Instructivo español">
        </span>
    
        <span>
            <img width="280" src="{{ url_for('static', filename= 'Uploads/manualEn.png') }}" alt="English instructive">
        </span>
    </div>

{% endblock %}