{% extends 'layout.html' %}

{% block title %}
    Modo Automático
{% endblock %}

{% block content %}

<div class="container-fluid temperatureBlock">
<div class="row h-100 row-cols-2">
    <div class="col_temperature">Temperatura 1:</div>
    <div class="col_temperature">{{temp1}}</div>
    <div class="col_temperature">Temperatura 2:</div>
    <div class="col_temperature">{{temp2}}</div>
    <div class="col_temperature">Temperatura 3:</div>
    <div class="col_temperature">{{temp3}}</div>
  </div>
</div>

{% endblock %}