{% extends 'layout.html' %}

{% block title %}
    Contacto
{% endblock %}

{% block content %}

<h1>Contacto e información</h1>

<br>

<h3>{{nombreApp}}</h3>
<h3>Version de la app: {{versionDeApp}}</h3>
<h3>Descripción: {{decApp}}</h3>

<br>

<h4>
    Si necesitas soporte referente a la aplicación, una modificación, etc.
    Por favor manden un correo a: {{correo}}
</h4>

<br><br>

<span class="grandeParrafos">
    Esta aplicación es de la empresa de GD-Code, creada por Guillermo Ortega Romo y Diego Martínez Sánchez.
</span>

<br><br>

<span class="grandeParrafos">
    La aplicación es libre de ser usada y modificada por el usuario sin embargo en caso de alteración de parte del usuario
    y si necesita posteriormente soporte se le cobrara un extra por la reparación del error causado por el mismo usuario.
</span>

<br>

<span class="grandeParrafos">
    Queda bajo su responsabilidad la alteración del código por parte del usuario y de igual manera en caso de que la
    aplicación no llegue a funcionar por la misma alteración.
</span>

{% endblock %}