{% extends 'layout.html' %}

{% block title %}
    Modo Manual
{% endblock %}

{% block content %}

<div class="container">

    <div class="bloqueTempHum">
    
      {% include 'includes/humTemp.html' %}

      <div class="botonesManual">
        <button type="button" class="btn btn-info bot-rellenar-bebedero">Rellenar bebedero</button>
        <button type="button" class="btn btn-info bot-humedecer-terrario">Humedecer</button>
      </div>
    </div>

    {% include 'includes/diaNoche.html' %}
    </div>

{% endblock %}