{% extends 'layout.html' %}

{% block title %}
Modo Manual
{% endblock %}

{%block content %}

<div class="container h-100" id="indexPage">
	<div class="row justify-content-center align-items-start h-50">
		<div class="bloqueTempHum">{% include 'includes/humTemp.html' %}</div>
	</div>

	<div class="row justify-content-around h-auto DiaNoche">
		{% include 'includes/diaNoche.html' %}
		<div class="col botonesManual">
			<div class="row justify-content-center">
				<button type="button" class="bot-rellenar-bebedero manual-buttons disable_inputs"
					id="rellenar-bebedero">
					Rellenar bebedero
				</button>
			</div>
			<div class="row justify-content-center">
				<button type="button" class="bot-humedecer-terrario manual-buttons disable_inputs" id="humedecer">
					Humedecer
				</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}