{% extends 'layout.html' %}

{% block title %}
    Modo Manual
{% endblock %}

{% block content %}

<div class="container">

    <div class="bloqueTempHum">
    
      <div class="Temp">
        <h3 class="personalTitulos">Temperaturas</h3>
        <br>
        <div class="izq">
          <h4 class="personalTitulos">Agua reserva</h4>
          <h4 class="personalTitulos">{{temp1}}</h4>
        </div>
        <div class="dere">
          <h4 class="personalTitulos">Terrario</h4>
          <h4 class="personalTitulos">{{temp2}}</h4>
        </div>
      </div>
    
      <div class="Hum">
        <h3 class="personalTitulos">Humedad</h3>
        <h3 class="personalTitulos">{{hum1}}</h3>
      </div>

      <div class="botonesManual">
        <button type="button" class="btn btn-info bot-rellenar-bebedero">Rellenar bebedero</button>
        {# <br> Poner los botones en la posivcion que debe #}
        <button type="button" class="btn btn-info bot-humedecer-terrario">Humedecer</button>
      </div>
    </div>

    <div class="DiaNoche"></div>
    </div>

{% endblock %}